app-edit-time {
  margin-top: 20px;
}

.center-card {
  margin: 0 auto;
  /* Adjust width as needed */
  width: 80%;
}


ion-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

