

<!--
  FIXME: weird spacing on top of the page
<ion-header collapse="condense">
  <ion-toolbar class="date-container">
    <ion-title size="large" id="today-date">{{ formattedDate }}</ion-title>
  </ion-toolbar>
</ion-header> -->

<app-edit-time *ngIf="editTime" (buttonClicked)="populateSleepTime($event)" > </app-edit-time>
<app-edit-mood *ngIf="editMood" (buttonClicked)="populateMood($event)" > </app-edit-mood>
<app-today-info *ngIf="!editTime && !editMood" (editClicked)="changeEditState($event)" [sleepTime]="selectedSleepTime" [wakeTime]="selectedWakeTime" [mood]="mood" > </app-today-info>


<!--
NOTES: IDK where this is supposed to go in your design flow so I'll jsut leave them here.
You need to call these two functions from the TS file when the button is pressed.

<ion-button fill="solid" (click) = "addSleepData()">Save</ion-button>
<ion-button fill="outline"(click) = "deleteCurrentData()">Reset Data</ion-button>

-->