
.center-card {
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
  /* Adjust width as needed */
  width: 80%;
}

// Center horizontally
#today-date {
  transform: translateX(15%);

}


ion-card-content {
  display: flex;
  align-items: center;
  justify-content: center;
}


#sleep-card {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#wake-card {
  display: none;
}
