app-line-graph {
    margin-top: 30px; /* Add padding at the top */
    margin-bottom: 0px; /* Reduce padding at the bottom */
  }

.main-content {
  margin:4px, 4px;
  padding:4px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  text-align:justify;
}

